.droite{
	margin-top: 5%;
	background-image: url(bakeli.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
form{
	margin-left: 13%;
}

b{
	color: #fff;
	position: relative;
	margin-top: 20%;
}
.espace{
	margin-top: 9%;
	margin-bottom: 10%;
}

.id{
	position: relative;
	margin-bottom: 1px;
}

.di{
	position: relative;
	margin-bottom: 10px;
}

p{
	color: #cc3333;
	font-size: 18px;
}

.c{
	color: #cc3333;
}

i{
	color: #cc3333;
}

i a{
	color: #e49b11;
	font-size: 20px;
}

u{
	padding-left: 80px;
}