body{
	font-family: lucia sans;
	margin: 0;
	padding: 0;
}

/* Header */
header{
	height: auto;
	padding: 10px 0;
	border-bottom: 2px solid #fff;
	background: #009999;
}

header .logo h2 a{
	font-size: 35px;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	color: #000;
}
header .logo h2 a:hover{
	padding-left: 5px;
	border-left: 1px solid #fff;
}

header nav .nav-list{
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin-bottom: 0;
}

header nav .nav-list .list a{
	display: block;
	padding: 15px;
	margin: 9px 0;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	color: #fff;
}

header nav .nav-list .list a:hover{
	border-radius: 1px 1px 1px 1px solid #ff6600;
}

.for{
	top: 40%;
	margin-left: 45%;
	position: absolute;

}